body{
margin: 0;
padding:0;
color:#414141;
}
a{
text-decoration: none;
font-weight: 700;
color:skyblue;
}
.clearfix{
    clear: both;
}
.dou{
color:blue;
font-weight: 700;
}
.cx{
color:red;
font-weight: 700;
}
#container{
width:1200px;
margin: 0 auto;
}
/*h1{
    display: block;
    margin: 0;
    padding: 0;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    text-shadow:2px 3px 1px #111;
    color:red;
}*/
#wrap{
width:1200px;
position: relative;
}

#leftside{
width: 200px;
padding:50px;
float:left;
background-color:rgba(22,22,22,0.9) ;
color:white;
position: fixed;
text-align: left;
}

.ulist li{
     list-style: none;
     line-height: 50px;
}

#rightside{
width: 800px;
padding:10px 50px;

float: right;
}
#footer{
height: 80px;
background-color:rgba(22,22,22,0.9) ;
}
.copyright{
    text-align: center;
    color: white;
    height: 80px;
    line-height: 80px;
}









